[submodule "IMDb_Comm/ILA_AXI_Protocol"]
	path = IMDb_Comm/ILA_AXI_Protocol
	url = https://github.com/PrincetonUniversity/ILA_AXI_Protocol.git
[submodule "IMDb_Accls/flexnlp-ila"]
	path = IMDb_Accls/flexnlp-ila
	url = https://github.com/PrincetonUniversity/flexnlp-ila.git
[submodule "IMDb_Accls/hlscnn-ila"]
	path = IMDb_Accls/hlscnn-ila
	url = https://github.com/PrincetonUniversity/hlscnn-ila.git
[submodule "IMDb_Accls/vta-ila"]
	path = IMDb_Accls/vta-ila
	url = https://github.com/LeeOHzzZ/vta-ila.git
[submodule "IMDb_Comm/lmac-ila"]
	path = IMDb_Comm/lmac-ila
	url = https://github.com/LeeOHzzZ/lmac-ila.git
[submodule "IMDb_Others/ILA_CCP"]
	path = IMDb_Others/ILA_CCP
	url = https://github.com/HuaixiLu/ILA_CCP.git
[submodule "IMDb_Comm/ILA_Offchip_Protocol"]
	path = IMDb_Comm/ILA_Offchip_Protocol
	url = https://github.com/HuaixiLu/ILA_Offchip_Protocol.git
[submodule "IMDb_Accls/ILA_AES"]
	path = IMDb_Accls/ILA_AES
	url = https://github.com/yuex1994/ILA_AES.git
[submodule "IMDb_Accls/ILA_SHA"]
	path = IMDb_Accls/ILA_SHA
	url = https://github.com/yuex1994/ILA_SHA.git
[submodule "IMDb_Cores/ILA_8051"]
	path = IMDb_Cores/ILA_8051
	url = https://github.com/yuex1994/ILA_8051.git
[submodule "IMDb_Cores/ILA_PTX"]
	path = IMDb_Cores/ILA_PTX
	url = https://github.com/yuex1994/ILA_PTX.git
[submodule "IMDb_Accls/ILA_NVDLA"]
	path = IMDb_Accls/ILA_NVDLA
	url = https://github.com/yuzeng2333/ILA_NVDLA
[submodule "IMDb_Accls/ILA_RBM"]
	path = IMDb_Accls/ILA_RBM
	url = https://github.com/yuzeng2333/ILA_RBM
[submodule "IMDb_Accls/ILA_GB"]
	path = IMDb_Accls/ILA_GB
	url = https://github.com/yuzeng2333/ILA_GB
[submodule "IMDb_Cores/ILA_Pico"]
	path = IMDb_Cores/ILA_Pico
	url = https://github.com/yuzeng2333/ILA_Pico
[submodule "IMDb_Cores/ILA_Piccolo"]
	path = IMDb_Cores/ILA_Piccolo
	url = https://github.com/yuzeng2333/ILA_Piccolo
